@import url('https://fonts.googleapis.com/css?family=Lora&display=swap'): root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Lora', serif;
  background-color: #d2c8c8;
  color: white;
}

hr {
  border: #0a065d solid 1px;
  width: 75%;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.name-search {
  margin-left: 6rem;
  margin-bottom: 1rem;
}

.contact-cart {
  margin-top: 5rem;
  margin-right: 5rem;
}

.name {
  font-size: 7rem;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.contact {
  margin-top: 0;
  font-size: 1.25rem;
}

.flowers-menu li {
  font-size: 1.25rem;
  list-style: none;
  padding: 5px;
  background-color: #f8f1f1;
  width: 125px;
  padding-left: 40px;
}

.flowers-menu {
  margin-top: 30px;
}

.flowers-menu :nth-child(1) {
  padding-top: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.flowers-menu :nth-child(5) {
  padding-bottom: 30px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
